<section class="about">
    <div class="titulo">
        <h1 class="estiloTitulos">Sobre Mí</h1>
    </div>

<div class="timeline">

  <!-- Sección 1 -->
  <h2 class="section-title">Estudios</h2>

  <div id="item1" class="timeline-item">
    <div class="circle"></div>
    <div class="content">
      <h3>Título Bachillerato</h3>
      <p>IES Enric Valor, Pego (2013-15)</p>
    </div>
  </div>

  <div id="item2" class="timeline-item">
    <div class="circle"></div>
    <div class="content">
      <h3>Título CFGS en Administración de Sistemas Informáticos en Red</h3>
      <p>IES Juan de Garay, Valencia (2015-18)</p>
    </div>
  </div>

  <div id="item3" class="timeline-item">
    <div class="circle"></div>
    <div class="content">
      <h3>Título CFGS en Desarrollo de Aplicaciones Web</h3>
      <p>Descripción de la experiencia</p>
    </div>
  </div>

  <!-- Sección 2 -->
  <h2 class="section-title">Experiencia <br>Preprofesional</h2>


  <div id="item4" class="timeline-item">
    <div class="circle"></div>
    <div class="content">
      <h3>Prácticas de 3 meses en el PROP GVA</h3>
      <p>Valencia (2017)</p>
    </div>
  </div>

  <div id="item5" class="timeline-item">
    <div class="circle"></div>
    <div class="content">
      <h3>Prácticas de 3 meses en TeamHost</h3>
      <p>Benisa (2021)</p>
    </div>
  </div>

  <!-- Sección 3 -->
  <h2 class="section-title">Experiencia <br>Profesional</h2>

  <div id="item6" class="timeline-item item6">
    <div class="circle"></div>
    <div class="content">
      <h3>Profesor de informática en el CEAM</h3>
      <p>Dos cursos académicos</p>
    </div>
  </div>

  <!-- Línea de la timeline -->
  <div class="timeline-line"></div>

</div>

</section>