
.about{

    margin-left: 1rem;
    max-width: 99%; 
  

    @media (min-width: 1024px) {
      min-height: 100%; /* Se asegura de que la sección ocupe toda la pantalla visible */
      max-width: 100%;
      margin:0;
      
      
    }
   
}



/*ajustes contenedot*/
.timeline {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  padding: 40px 0;
}

.timeline h2{
 text-decoration: underline;
}

.timeline h3{
 text-decoration: underline;
 color:#910a0a;
}

/* Línea central */
.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 3px;
  height: 100%;
  background: #910a0a;
  transform: translateX(-50%);
}

/* Cada evento */
.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

/* Evento visible */
.timeline-item.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Alternar izquierda/derecha */
.timeline-item:nth-of-type(odd) {//con esto cuento los elementos de ese tipo impares y lo pongo al la izquierda
  left: 0;
  text-align: right;
}

.timeline-item:nth-of-type(even) {//con esto cuento los elementos de ese tipo pares y lo pongo al la derecha
  left: 50%;
  text-align: left;
}

/* --- CÍRCULOS  --- */
.circle {
  width: 14px;
  height: 14px;
  background: #910a0a;
  border-radius: 50%;
  position: absolute;
  top: 30px;
}

/* Círculos de lado izquierdo */
.timeline-item:nth-of-type(odd) .circle {//pongo los circulos impares que estan a la izquierda al centro
  right: -7px;
}

/* Círculos de lado derecho */
.timeline-item:nth-of-type(even) .circle {//pongo los circulos pares que estan a la derecha al centro
  left: -7px;
}

/* Cajitas */
.content {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  border: #910a0a 3px solid ;
}



