<section class="home">
  <div class="intro">
    <div class="info">
        <h1 class="tituloHome">José Doménech Alemany</h1>
        <p>Desarrollador web y Administrador de sistemas informáticos.</p>
        <a class="botones" href="#projects">Proyectos</a>
    </div>

    
      <div class="foto">
        <img class="perfil"src="/assets/profile.jpg" alt="Foto de José Doménech Alemany">
      </div>
    

    <div class="redes-sociales">
      <a href="https://www.linkedin.com/in/pepe-domenech-b07394218/"  class="social-item" target="_blank">
        <ion-icon [icon]="linkedinIcon" [color]="isHoveredlink ? 'danger' : (isDark ? 'light' : 'primary')" (mouseenter)="isHoveredlink = true"(mouseleave)="isHoveredlink = false"></ion-icon>
      </a>
      <a href="https://github.com/pepedoa/Portfolio-"  class="social-item" target="_blank">
        <ion-icon [icon]="githubIcon" [color]="isHoveredgit ? 'danger' : (isDark ? 'light' : 'primary')" (mouseenter)="isHoveredgit = true" (mouseleave)="isHoveredgit = false"></ion-icon>
      </a>
    </div>
    
    
    
  </div>

</section>