.projects{
     min-height: 100%; 
     max-width: 100%; 
     background-color: #6d060613;
     margin-top: 1rem;
     padding-bottom: 3rem;

     @media (min-width: 1024px) { 
        min-height: 100vh; /* Se asegura de que la sección ocupe toda la pantalla visible */
        max-width: 100%; /* Opcional, pero útil */
        background-color: #6d060613;
       
     }
 
}

/*fondo modo oscuro*/
:host-context(body.activo) .projects{
    background-color: rgba(78, 77, 77, 0.055); /* tu fondo gris */
}


.proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    width: 100%;
    justify-items: center;
  
}

.proyecto:hover{
  transform: scale(1.1);
  z-index: 10; /* Asegura que el elemento esté por encima de otros */
}

.proyecto{
    transition: transform 0.5s ease;
    border: 4px solid #910a0a;
    text-align: center;
    width: 90%;
    height: 100%;
    max-width: 350px; 
   min-height: 150px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #ead2d2;
    padding-bottom: 1rem;
}



.imgProyecto{
    width: 100%;
    height:45%;   /* mantiene la proporción original */
    display: block; /* elimina el pequeño espacio debajo de la imagen */
    border-radius: 10px;
}

.imgProyectoProx{
    width: 100%;
    height:100%;   /* mantiene la proporción original */
    display: block; /* elimina el pequeño espacio debajo de la imagen */
    border-radius: 10px;
}



.tecnologias{
  display:  grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1px;


  
}

.tecnologias p{
    padding: 6px;
    margin: 0 4px;
   text-align: center;
    border:2px solid #910a0a;
    color: #910a0a;
   
   border-radius: 5px;
}

.enlaces {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 0.5rem;
}

.enlace {
    padding: 0.8rem 1.2rem;
    background-color: #910a0a;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    width: fit-content;
}

.enlace:hover{
    background-color: #6d0606;
    transition: background-color 0.3s ease;
}

