<section class="projects">
    <div class="titulo">
        <h1 class="estiloTitulos">Proyectos</h1>
    </div>
    <div class="proyectos">
        <div class="proyecto">
            <img class="imgProyecto"src="assets/todo.png" alt="Foto proyecto">
            <h2>Administrador de Tareas</h2>
            <p>Aplicacion que te permite organizar tus tareas de una manera comoda y visual</p>
            <div class="tecnologias">
                <p>Angular</p><p>HTML</p><p>CSS</p><p>TS</p>
            </div>
            <div class="enlaces">
                <a class="enlace" href="https://github.com/pepedoa/Administrador-de-tareas.git">Ver Codigo</a>
                <a class="enlace" href="https://pepedoa.github.io/Administrador-de-tareas/">Ver Web</a>
            </div>
        </div>

        <div class="proyecto">

        </div>

        <div class="proyecto">
       
        </div>
        
        <div class="proyecto">
        
        </div>
    </div>
        
  

</section>