.skills{
     min-height: 100%; /* Se asegura de que la sección ocupe toda la pantalla visible */
     max-width: 99%;
     text-align: center;
        h2{
            text-decoration: underline;
        }
     

     @media (min-width: 1024px) { 
        min-height: 100vh; /* Se asegura de que la sección ocupe toda la pantalla visible */
        max-width: 100%; 
        text-align: center;
        align-items: center;
        justify-content: center;

        h2{
            text-decoration: underline;
        }
       
     }
 
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: transform 0.5s ease;

}

.skill:hover{
  transform: scale(1.2);
  z-index: 10; /* Asegura que el elemento esté por encima de otros */
}

.skill img { //redondear imagenes
  width: 60px;
  height: 60px;
  padding: 5px;
  border: 4px solid #910a0a;
  border-radius: 50%;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.258);
 
}

:host-context(body.activo) .skill img {
    background: rgba(87, 86, 86, 0.322);
}

.front, 
.back,
.plCv{
    display: grid;
    grid-template-columns:1fr; 
    gap: 2rem;
    justify-content: center;
    padding: 3rem;

    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* flexible y responsive */
        gap: 0;
        padding: 0 17rem 0 17rem;
        justify-content: center;
       
    }
}

